language: php

services: mongodb

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - echo 'extension=mongo.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer --prefer-source --dev install

script: phpunit --coverage-text --verbose
